body {
    margin: 0;
    font-size: 16px;
}

.hero-banner {
    width: 100%;
    height: 680px;
    position: relative;
}
.hero-banner .banner-image {
    width: 100%;
    height: 680px;
    display: block;
    position: absolute;
    z-index: -1;
}
.hero-banner .banner-content.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
}
.hero-banner .banner-content {
    color: #ffffff;
    text-align: center;
}
.banner-content .input-search {
    width: 250px;
    padding: 3px 7px;
    border-radius: 7px;
}
.banner-content .btn-submit {
    padding: 3px 10px;
    border-radius: 7px;
    font-weight: bold;
}
.hero-banner .banner-subtitle {
    margin-top: 20px;
}

/* Main */
main {
    width: 100%;
    max-width: 1280px;
    margin: 48px auto;
    padding: 0 16px;
}
.main-content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.with-sidebar {
    flex: 3;
    padding: 0 8px;
}
.layout-sidebar-right {
    flex: 1;
    padding: 0 8px;
}

/* Event & News */
.event-news-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
.event-wrapper {
    flex: 2;
}
.news-wrapper {
    flex: 1;
}
h2 {
    padding: 0 8px;
}
.event-item-wrapper,
.news-item-wrapper {
    display: flex;
    justify-content: center;
}
.event-item {
    flex: 1;
    padding: 0 8px;
}
.event-item-inner,
.news-item-inner {
    border: 1px solid;
    border-radius: 5px;
}
.event-text,
.news-text {
    padding: 16px;
}
.news-item {
    padding: 0 8px;
}
.event-image,
.news-image {
    width: 100%;
}
.link-wrapper {
    text-align: right;
}
.event-link,
.news-link {
    border: 1px solid;
    border-radius: 7px;
    text-decoration: none;
    color: inherit;
    padding: 2px 7px;
}

/* Content detail */
.content-full-title {
    padding-bottom: 18px;
    border-bottom: 1px solid;
    font-size: 32px;
}
.content-full-date {
    margin-bottom: 18px;
}
.content-full-image,
.content-related-image {
    width: 100%;
}
.event-related-item,
.news-related-item {
    margin-bottom: 16px;
    border: 1px solid;
    border-radius: 5px;
}
.content-related-text {
    padding: 16px;
}